<div class="carousel">
    <a class="next" (click)="next()" [hidden]="position===images.length"></a>
    <a class="previous" (click)="previous()" [hidden]="position===1" ></a>
    <ul class="slides" [@slider]='this.position'>
        <li *ngFor="let image of this.images">
            <div class="content">
                <h1 class="title"> {{image.title}} </h1>
                <p class="description" > {{image.description}} </p>
                <a class="link" > {{image.link}} </a>
            </div>
            <img src="{{image.url}}" alt="">
        </li>
    </ul>
</div>