<div id="container">
  <table>
    <tbody>
      <tr>
        <td> <img  id="login" src="./src/app/components/my-header/blank.gif"/>     </td>
        <td> <img  id="langue" src="./src/app/components/my-header/blank.gif"/>    </td>
        <td> <img  id="telephone" src="./src/app/components/my-header/blank.gif"/> </td>
        <td> <img  id="facebook" src="./src/app/components/my-header/blank.gif"/>  </td>
        <td> <img  id="twitter" src="./src/app/components/my-header/blank.gif"/>   </td>
        <td> <img  id="support" src="./src/app/components/my-header/blank.gif"/>   </td>
        <td> <img  id="parametre" src="./src/app/components/my-header/blank.gif"/> </td>
      </tr>
    </tbody>
  </table>
</div>
