<!--https://www.orbitmedia.com/blog/website-footer-design-best-practices/-->
<div [style.background-color]="'#5bc0de'" [style.height.px]="200">
  <table>
  <tr>
    <td> Privacy policy (lien redirigé)</td>
    <td> Sitemap -> Rechercher sur internet : XML file </td>
    <td> Copyright : Maxime Thibault studios </td>
  <tr>
    <td> Contact </td>
    <td> Adress and link map </td>
    <td> Phone and fax number </td>
  </tr>
  <tr>
    <td> Icon social (Facebook, etc) </td>
    <td> emain signup </td>
    <td> Login </td>
  </tr>
  <tr>
    <td> Terms of Use (lien redirigé) </td>
    <td> Search bar</td>
    <td> Navigation avancé avec beaucoup de lien </td>
  </tr>
  </table>
</div>
